@model WishProject.Models.Preference

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Preference</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occasions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occasions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPreference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPreference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Flowers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flowers)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PreferenceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
