@model IEnumerable<WishProject.Models.Preference>

@{
    ViewBag.Title = "Index";
}

<h2>Preference List</h2>

<p>
    @Html.ActionLink("Create New Preference", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <h3>E-mail</h3>
        </th>
        <th>
            <h3>Occasion</h3>
        </th>
        <th>
            <h3>Preference</h3>
        </th>
        <th>
            <h3>Flowers</h3>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Occasions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserPreference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flowers)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PreferenceId }) |
                @Html.ActionLink("Details", "Details", new { id = item.PreferenceId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PreferenceId })
            </td>
        </tr>
    }

</table>
